<!doctype html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <title>NAPUN</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="img/logo/logo-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"/>
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="fonts/ionicons/css/ionicons.css">
  <link rel="stylesheet" href="css/slicknav.css">
  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/hotel.css">
  <script src="https://kit.fontawesome.com/1fda624724.js"></script>
</head>

<body class="animsition">
  <header> 
    <div class="header-area">
      <div class="main-header ">
        <div class="header-top d-none d-lg-block">
          <div class="container-fluid">
            <div class="col-xl-12">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="header-info-left">
                  <ul>
                    <li>
                      <i class="fas fa-phone" style="color: #ff5f13;"></i>
                      +(84) 1234-567-8901
                    </li>
                    <li>
                      <i class="fas fa-envelope" style="color: #ff5f13;"></i>
                      napun123@gmail.com
                    </li>
                  </ul>
                </div>
                <div class="header-info-right">
                  <ul class="header-social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom  header-sticky">
          <div class="container-fluid">
            <div class="row align-items-center">
              <!-- Logo -->
              <div class="col-xl-1 col-lg-1 col-md-1">
                <div class="logo">
                  <a href="trang_chu.html" class="small-logo"><img src="img/logo/logo.png" alt=""></a>
                </div>
              </div>
              <div class="col-xl-11 col-lg-11 col-md-11">
                <!-- Main-menu -->
                <div class="main-menu f-right d-none d-lg-block">
                  <nav>
                    <ul id="navigation">
                      <li><a href="trang_chu.html">Trang chủ</a></li>
                      <li><a href="camnang.html">Cẩm nang du lịch</a>
                        <ul class="submenu">
                          <li>
                            <a href="MienBac.html">Miền Bắc</a>
                            <ul class="submenu sub">
                              <li><a href="LaoCai.html">Lào Cai</a></li>
                              <li><a href="HaNoi.html">Hà Nội</a></li>
                              <li><a href="HaiPhong.html">Hải Phòng</a></li>
                            </ul>
                          </li>
                          <li>
                            <a href="MienTrung.html">Miền Trung</a>
                            <ul class="submenu sub">
                              <li><a href="Hue.html">Huế</a></li>
                              <li><a href="QuangNam.html">Quảng Nam</a></li>
                              <li><a href="PhuYen.html">Phú Yên</a></li>
                              <li><a href="DaNang.html">Đà Nẵng</a></li>
                              <li><a href="QuangBinh.html">Quảng Bình</a></li>
                            </ul>
                          </li>
                          <li>
                            <a href="MienNam.html">Miền Nam</a>
                            <ul class="submenu sub">
                              <li><a href="VungTau.html">Vũng Tàu</a></li>
                              <li><a href="DaLat.html">Đà Lạt</a></li>
                              <li><a href="PhuQuoc.html">Phú Quốc</a></li>
                              <li><a href="AnGiang.html">An Giang</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li><a href="khach_san.html">Đặt khách sạn</a>
                        <ul class="submenu">
                          <li><a href="#">Khách sạn Huế</a></li>
                          <li><a href="#">Khách sạn Hà Nội</a></li>
                          <li><a href="#">Khách sạn Đà Nẵng</a></li>
                          <li><a href="#">Khách sạn Vũng Tàu</a></li>
                          <li><a href="#">Khách sạn Đà Lạt</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Thời tiết</a></li>
                      <li><a href="contact.html">Liên hệ</a></li>
                      <li>
                        <a>
                          <div class="search-box">
                            <div class="input-box">
                              <input type="text" placeholder="Search...">
                            </div>
                            <div class="search-button">
                              <i class="fas fa-search"></i>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a>
                          <div class="user">
                            <i class="fas fa-user"></i>
                            &ensp;<span style="cursor: pointer; font-weight: 500;">Đăng nhập</span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="slider-area w-100 ">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center w-100"
      style="background-image: url(img/decor/hotel.jpg); width: 100%">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="hero__caption">
              <div class="hero-text1">
              </div>
              <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
                <h2>Đặt khách sạn</h2>
                <h2>Đặt khách sạn</h2>
              </div>
              <div class="hero-text2 mt-110" data-animation="fadeInUp" data-delay=".9s">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<section class="appoinment section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
          <div class="mt-3">
            <div class="feature-icon mb-3">
              <i class="fas fa-headset text-lg"></i>
            </div>
             <span class="h3" style="font-weight: bold; font-family: "Exo", sans-serif;">Mọi thắc mắc xin liên hệ!</span>
              <h2 class="text-color mt-3" style="color: #223a66; font-weight: bold">(+84) 1234-567-8901 </h2>
          </div>
      </div>

      <div class="col-lg-8">
          <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
            <h2 class="mb-2 title-color" style="color: #223a66">ĐẶT KHÁCH SẠN</h2>
            <p class="mb-4">Đặt phòng khách sạn giá rẻ và thanh toán tiện lợi bằng Paypal. Rất nhiều ưu đã cho bạn. Đi khắp nơi chẳng còn lo chốn nghỉ chân chỉ với vài thao tác.</p>
               <form id="#" class="appoinment-form" method="post" action="#">
                    <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group">
                              <select class="form-control mb-3" id="area" required>
                                <option>Chọn khu vực</option>
                                <option>Đà Lạt</option>
                                <option>Vũng Tàu</option>
                                <option>Huế</option>
                                <option>Hà Nội</option>
                                <option>Đà Nẵng</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control mb-3" id="hotel" required>
                                  <option>Chọn khách sạn</option>
                                  <option>Khách sạn 1</option>
                                  <option>Khách sạn 2</option>
                                  <option>Khách sạn 3</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control mb-3" id="room" required>
                                  <option>Chọn loại phòng</option>
                                  <option>Loại phòng 1</option>
                                  <option>Loại phòng 2</option>
                                  <option>Loại phòng 3</option>
                                  <option>Loại phòng 4</option>
                                  <option>Loại phòng 5</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="quantity" id="quantity" type="Number" class="form-control" placeholder="Số lượng phòng" min="1" required>
                            </div>
                        </div>

                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="date" id="date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" placeholder="Ngày nhận phòng" required>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="date" id="date" type="text"  onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" placeholder="Ngày trả phòng" required>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="time" id="time" type="text" class="form-control" placeholder="Họ tên" required pattern="[a-z]{1,15}">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="phone" id="phone" type="Number" class="form-control" placeholder="Số điện thoại"  min="1" required>
                            </div>
                        </div>

                         <div class="col-lg-12">
                            <div class="form-group">
                              <select class="form-control mb-3" id="area" style="width: 100px">
                                <option>Chọn phương thức thanh toán</option>
                                <option>Trực tiếp</option>
                                <option>Paypal</option>
                              </select>
                            </div>
                          </div>
                    </div>
                    <div class="form-group-2 mb-4">
                        <textarea name="message" id="message" class="form-control" rows="6" placeholder="Lời nhắn"></textarea>
                    </div>

                    <a class="btn btn-main-2 btn-round-full" href="confirmation.html">Đặt phòng<i class=" ml-2 fas fa-chevron-right ml-2"></i></a>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- News With Sidebar End -->
  <br><br><br><br><br><br>
  <footer>
    <!-- Footer Start-->
    <div class="footer-main" style="max-width: 1600px;">
      <div class="footer-area footer-padding">
        <div class="container">
          <div class="row  justify-content-between">
            <div class="col-lg-5 col-md-4 col-sm-8">
              <div class="single-footer-caption mb-30">
                <!-- logo -->
                <div class="footer-logo">
                  <a href="trang_chu.html"><img src="img/logo/logo.png" alt=""></a>
                </div>
                <div class="footer-tittle">
                  <div class="footer-pera">
                    <p class="info">Chúng ta bắt đầu biết đi ngay từ khi còn bé. Vậy nên không có lý do gì khi đôi chân
                      đang khỏe mà bạn lại phải ngồi im.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Truy cập nhanh</h4>
                  <ul>
                    <li><a href="camnang.html" class="a">Cẩm nang du lịch</a></li>
                    <li><a href="khach_san.html" class="a">Đặt Khách sạn</a></li>
                    <li><a href="#" class="a">Thời tiết</a></li>
                    <li><a href="contact.html" class="a">Liên hệ</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-7">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Liên hệ với chúng tôi</h4>
                  <div class="footer-pera">
                    <p class="info">1111 Kha Vạn Cân, Linh Trung, Thủ Đức, TP.HCM</p>
                  </div>
                  <ul>
                    <li>Email: napun123@gmail.com</li>
                    <li>Phone: +(84) 1234-567-8901</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Copy-Right -->
            <div class="row align-items-center">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="footer-copy-right">
                  <p>
                    Copyright &copy;
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    | NAPUN - Cẩm nang du lịch và Đặt khách sạn <i class="fa fa-heart" aria-hidden="true"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End-->
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollup/2.4.1/jquery.scrollUp.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.2/jquery-migrate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  <!-- Main Jquery -->
  <script src="js/main.js"></script>
  <script src="js/hotel.js"></script>
</body>

</html>